body {
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #DEDEDE;
}

.main {
  background-color: #E5E5E5;
  border: 1px solid #C1C1C1;
  border-radius: 7px;
  box-shadow: 0px 0px 8px #B3B3B3;
  padding: 20px;
}

.main header {
  margin-bottom: 27px;
}

.page header {
  margin-bottom: 16px;
}

@media (max-width : 980px) {
  body {
    padding-top: 0;
  }
}


pre.linenums {
  box-shadow: inset 34px 0 0 #333, inset 35px 0 0 #161616, inset 36px 0 0 #535353;
}
ol.linenums {
  margin-left: 30px;
}
pre.linenums li {
  padding-left: 11px;
}


.comment {
  margin-top: 30px;
}


.copyright {
  text-align: center;
  margin-top: 30px;
  color: #B4B4B4;
  text-shadow: 0px 2px 3px #EEE
}


blockquote {
  margin: 1.5em auto;
  padding: .5em 3.9em;
  background: white;
  font-size: 1em;
  line-height: 0;
  width: 350px;
  border: 3px dashed #E5E5E5;
}
blockquote:before, blockquote:after {
  display: block;
  font-size: 700%;
  height: 0;
  color: #69c;
}
blockquote:before {
  content: "\201C";
  margin-left: -.5em;
  line-height: .9em;
}
blockquote:after {
  content: '\201D';
  margin-left: 360px;
  line-height: .3em;
}
cite {
  display: block;
  text-align: right;
}
cite:before {
  content: '--';
  margin-right: 3px;
}


::selection {
  background: #073642;
  color: #FFF;
  text-shadow: none;
}


.posts li {
  font-size: 17px;
  line-height: 23px;
}
.posts a {
  margin-left: 14px;
}

.table {
  border: 1px solid #BDBDBD;
}
.table th {
  text-align: center;
  background: #D5D5D5;
  border-left: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
}
.table th:first-child {
  border-left: 0;
}

time {
  color: #AAA;
}

ul.tags, .tags li {
  display: inline;
  list-style: none;
}

.nav i {
  margin-right: 5px;
}
